<html>

<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container">

        <form [formGroup]="loginForm" (submit)="onLogin()">
            <h2>Login</h2>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" required formControlName="username">
            </div>

            <div class="form-group">

                <label>Password</label>
                <input type="password" class="form-control" required formControlName="password">
            </div>

            <button type="submit" class="btn btn-primary"> Login </button>

        </form>

    </div>

</body>

</html>