<div class="page-container">

    <div class="sidebar">
        <div class="list-items">
            <a class="list-item" routerLink="/home">
                Dashboard
            </a>
            <a class="list-item" routerLink="/home/reservation">
                Add Reservation
            </a>

            <a class="list-item" routerLink="/home/payment">
                Make Payment
            </a>
            <a class="list-item" (click)="logOut()">
                Log Out
            </a>
        </div>
    </div>
</div>